@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap");
* {
  text-decoration: none !important;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#header {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 40px 0;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 3px;
  color: #fff;
  z-index: 9999;
}
#header .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .header .logo-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
#header .header .logo-img img {
  width: 160px;
}
#header .header nav .menu-btn {
  display: none;
  background-color: transparent;
  border: none;
}
#header .header nav .menu-btn i {
  color: #aa8453;
}
#header .header nav ul {
  display: flex;
  gap: 30px;
}
#header .header nav ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .header nav ul li .dropdown {
  position: relative;
  overflow: hidden;
}
#header .header nav ul li .dropdown .dropdown-toggle {
  padding: 15px 0;
  transition: all 0.4s;
}
#header .header nav ul li .dropdown .dropdown-toggle::after {
  display: none;
}
#header .header nav ul li .dropdown .dropdown-toggle:hover {
  color: #aa8453;
}
#header .header nav ul li .dropdown .dropdown-menu {
  width: 200px;
  display: block;
  border: none;
  border-radius: 0;
  position: absolute;
  transform: translateY(50px);
  transition: 0.5s;
  transition-timing-function: ease-in;
  padding: 5px 15px;
}
#header .header nav ul li .dropdown .dropdown-menu li {
  padding: 10px 0;
}
#header .header nav ul li .dropdown .dropdown-menu li a {
  color: #000;
}
#header .header nav ul li .dropdown .dropdown-menu li:hover a {
  background-color: transparent;
  padding-left: 30px;
}
#header .header nav ul li .dropdown .dropdown-menu .dropdown-item-border {
  border-bottom: 1px solid #ddd;
}
#header .header nav ul li .dropdown:hover {
  overflow: visible;
}
#header .header nav ul li .dropdown:hover .dropdown-menu {
  transform: translateY(0);
  transition: 0.5s;
  transition-timing-function: ease-out;
}
#header .header nav ul li a {
  transition: all 0.4s;
  color: #fff;
}
#header .header nav ul li a:hover {
  color: #aa8453;
}
@media only screen and (max-width: 992px) {
  #header .header nav .menu-btn {
    display: block;
  }
  #header .header nav ul {
    display: none;
  }
}

.menu-items {
  display: none;
  height: 370px;
  padding: 30px;
  margin-top: 118px;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  letter-spacing: 3px;
  position: absolute;
  z-index: 150;
  background-color: #fff;
  width: 100%;
  left: 0;
}
.menu-items ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.menu-items li .dropdown {
  transition: all 0.4s;
}
.menu-items li .dropdown .dropdown-toggle::after {
  display: none;
}
.menu-items li .dropdown .dropdown-menu {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 0;
  font-weight: 100;
  display: none;
  border: none;
  border-radius: 0;
}
.menu-items li .dropdown .dropdown-menu li .dropdown-item-border {
  border-bottom: 1px solid #ddd;
}
.menu-items li .dropdown .dropdown-menu li a {
  color: gray;
}
.menu-items li .dropdown .dropdown-menu li:hover a {
  background-color: transparent;
  padding-left: 30px;
}
.menu-items li .dropdown:hover .dropdown-menu {
  display: block;
}
.menu-items li a {
  color: #000;
}

#hero {
  height: 100vh;
}
#hero .carousel-fade .carousel-indicators {
  z-index: 32;
  display: flex;
  flex-direction: column;
  height: 100%;
  right: 50px;
  left: unset;
  margin: 0;
}
#hero .carousel-fade .carousel-indicators::after, #hero .carousel-fade .carousel-indicators::before {
  height: 70px;
  width: 2px;
  content: "";
  position: absolute;
  background-color: rgba(255, 255, 255, 0.3);
  right: 7px;
}
#hero .carousel-fade .carousel-indicators::after {
  top: 250px;
}
#hero .carousel-fade .carousel-indicators::before {
  bottom: 250px;
}
#hero .carousel-fade .carousel-indicators button {
  background-color: transparent;
  color: #fff;
  opacity: 1;
  width: unset;
  height: unset;
  text-indent: unset;
}
#hero .carousel-fade .carousel-indicators button.active {
  color: #aa8453;
}
#hero .carousel-fade .carousel-inner .carousel-item img {
  height: 100vh;
  width: 100%;
  object-fit: cover;
}
#hero .carousel-fade .carousel-inner .carousel-item .carousel-caption {
  z-index: 32;
  visibility: hidden;
  height: 100%;
  width: 770px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  transition: 0.8s;
  transform: translateY(150px);
  transition-timing-function: ease-in;
  opacity: 0.5;
}
#hero .carousel-fade .carousel-inner .carousel-item .carousel-caption i {
  color: #e4a853;
}
#hero .carousel-fade .carousel-inner .carousel-item .carousel-caption h4 {
  font-size: 24px;
  transition-delay: 0.2s;
}
#hero .carousel-fade .carousel-inner .carousel-item .carousel-caption h1 {
  font-size: 72px;
  letter-spacing: 0.1em;
  transition-delay: 0.4s;
}
#hero .carousel-fade .carousel-inner .carousel-item .carousel-caption a {
  padding: 10px 30px;
  border: 1px solid #ddd;
  color: #fff;
  font-size: 20px;
  transition-delay: 0.6s;
  position: relative;
  overflow: hidden;
}
#hero .carousel-fade .carousel-inner .carousel-item .carousel-caption a::after {
  position: absolute;
  background-color: #fff;
  width: 100%;
  height: 100%;
  content: "";
  top: 0;
  left: 0;
  transition: 0.5s;
  transform: translateX(-100%);
  transition-timing-function: ease-in;
  z-index: -1;
}
#hero .carousel-fade .carousel-inner .carousel-item .carousel-caption a:hover {
  color: gray;
  transition-delay: 0s;
}
#hero .carousel-fade .carousel-inner .carousel-item .carousel-caption a:hover::after {
  transition: 0.5s;
  transform: translateX(0);
  transition-timing-function: ease-out;
}
#hero .carousel-fade .carousel-inner .carousel-item.active .carousel-caption {
  visibility: visible;
  opacity: 1;
  transition: 1s;
  transform: translateY(0);
  transition-timing-function: ease-out;
}
#hero .carousel-fade .carousel-control-prev,
#hero .carousel-fade .carousel-control-next {
  display: inline-block;
  width: unset;
  height: 50px;
  bottom: 60px;
  right: 180px;
  left: unset;
  top: unset;
  z-index: 32;
}
#hero .carousel-fade .carousel-control-prev {
  right: 230px;
}
#hero .carousel-fade .carousel-control-prev-icon,
#hero .carousel-fade .carousel-control-next-icon {
  z-index: 32;
  padding: 20px;
  background-size: 20px;
  font-size: 5px;
  border-radius: 100%;
  border: 1px solid #fff;
  transition: all 0.4s;
}
#hero .carousel-fade .carousel-control-prev-icon:hover,
#hero .carousel-fade .carousel-control-next-icon:hover {
  border-color: #aa8453;
  transition: all 0.4s;
  transform: scale(0.8);
}
#hero .carousel-fade .slide-phone {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 32;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  left: 50px;
}
#hero .carousel-fade .slide-phone div {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  color: #fff;
  font-size: 20px;
  line-height: 1.5em;
  letter-spacing: 0.2em;
}
#hero .carousel-fade .slide-phone div span {
  color: #aa8453;
  font-size: 24px;
}
#hero .carousel-fade .slide-phone i {
  color: #fff;
  border-radius: 100%;
  border: 1px solid rgba(255, 255, 255, 0.8);
  padding: 15px;
  font-size: 24px;
  margin-top: 10px;
}

#about {
  padding: 5%;
}
#about .about .about-left {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 30px;
}
#about .about .about-left span i {
  color: #e4a853;
}
#about .about .about-left p {
  font-size: 17px;
  color: #666;
  line-height: 25px;
}
#about .about .about-left h1 {
  font-size: 50px;
}
#about .about .about-left .slide-phone {
  display: flex;
  justify-content: center;
  align-items: center;
}
#about .about .about-left .slide-phone div {
  color: #fff;
  font-size: 20px;
  line-height: 1.5em;
  letter-spacing: 0.2em;
}
#about .about .about-left .slide-phone div span {
  color: #aa8453;
  font-size: 24px;
}
#about .about .about-left .slide-phone i {
  color: #aa8453;
  padding: 15px;
  font-size: 36px;
  margin-top: 10px;
}
#about .about .about-right img {
  max-width: 261px;
}
#about .about .about-right .about-img-1 {
  transform: translateY(120px);
}
#about .about .about-right .about-img-2 {
  margin-top: 0;
}

#rooms-suites {
  padding: 5% 0;
  background-color: #f8f5f0;
}
#rooms-suites .rooms-suites span {
  font-size: 18px;
  font-family: "Barlow Condensed", sans-serif;
  color: #666;
}
#rooms-suites .rooms-suites h1 {
  font-family: "Gilda Display", serif;
  font-size: 50px;
  margin-top: 20px;
}
#rooms-suites .rooms-suites .rooms-suites-top,
#rooms-suites .rooms-suites .rooms-suites-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  --bs-gutter-x: 0;
  margin: 20px 0;
}
#rooms-suites .rooms-suites .rooms-suites-top .rooms-suites-top-card,
#rooms-suites .rooms-suites .rooms-suites-top .rooms-suites-bottom-card,
#rooms-suites .rooms-suites .rooms-suites-bottom .rooms-suites-top-card,
#rooms-suites .rooms-suites .rooms-suites-bottom .rooms-suites-bottom-card {
  max-width: 370px;
  margin-bottom: 30px;
  padding: 0;
  position: relative;
  overflow: hidden;
}
#rooms-suites .rooms-suites .rooms-suites-top .rooms-suites-top-card .img-div img,
#rooms-suites .rooms-suites .rooms-suites-top .rooms-suites-bottom-card .img-div img,
#rooms-suites .rooms-suites .rooms-suites-bottom .rooms-suites-top-card .img-div img,
#rooms-suites .rooms-suites .rooms-suites-bottom .rooms-suites-bottom-card .img-div img {
  width: 100%;
  height: 100%;
  transition: 1s;
}
#rooms-suites .rooms-suites .rooms-suites-top .rooms-suites-top-card .text-div,
#rooms-suites .rooms-suites .rooms-suites-top .rooms-suites-bottom-card .text-div,
#rooms-suites .rooms-suites .rooms-suites-bottom .rooms-suites-top-card .text-div,
#rooms-suites .rooms-suites .rooms-suites-bottom .rooms-suites-bottom-card .text-div {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
#rooms-suites .rooms-suites .rooms-suites-top .rooms-suites-top-card .text-div a,
#rooms-suites .rooms-suites .rooms-suites-top .rooms-suites-bottom-card .text-div a,
#rooms-suites .rooms-suites .rooms-suites-bottom .rooms-suites-top-card .text-div a,
#rooms-suites .rooms-suites .rooms-suites-bottom .rooms-suites-bottom-card .text-div a {
  color: #fff;
}
#rooms-suites .rooms-suites .rooms-suites-top .rooms-suites-top-card .text-div .book,
#rooms-suites .rooms-suites .rooms-suites-top .rooms-suites-bottom-card .text-div .book,
#rooms-suites .rooms-suites .rooms-suites-bottom .rooms-suites-top-card .text-div .book,
#rooms-suites .rooms-suites .rooms-suites-bottom .rooms-suites-bottom-card .text-div .book {
  position: absolute;
  right: 20px;
  top: 30px;
  padding: 5px 10px;
  border: 1px solid #fff;
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 3px;
  transform: rotate(270deg);
}
#rooms-suites .rooms-suites .rooms-suites-top .rooms-suites-top-card .text-div .text-div-bottom,
#rooms-suites .rooms-suites .rooms-suites-top .rooms-suites-bottom-card .text-div .text-div-bottom,
#rooms-suites .rooms-suites .rooms-suites-bottom .rooms-suites-top-card .text-div .text-div-bottom,
#rooms-suites .rooms-suites .rooms-suites-bottom .rooms-suites-bottom-card .text-div .text-div-bottom {
  width: 100%;
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  line-height: 40px;
  transition: 0.7s;
  transform: translateY(40%);
  transition-timing-function: ease-in;
}
#rooms-suites .rooms-suites .rooms-suites-top .rooms-suites-top-card .text-div .text-div-bottom p,
#rooms-suites .rooms-suites .rooms-suites-top .rooms-suites-bottom-card .text-div .text-div-bottom p,
#rooms-suites .rooms-suites .rooms-suites-bottom .rooms-suites-top-card .text-div .text-div-bottom p,
#rooms-suites .rooms-suites .rooms-suites-bottom .rooms-suites-bottom-card .text-div .text-div-bottom p {
  color: #fff;
  font-weight: 700;
  letter-spacing: 3px;
  font-family: "Barlow Condensed", sans-serif;
}
#rooms-suites .rooms-suites .rooms-suites-top .rooms-suites-top-card .text-div .text-div-bottom h3,
#rooms-suites .rooms-suites .rooms-suites-top .rooms-suites-bottom-card .text-div .text-div-bottom h3,
#rooms-suites .rooms-suites .rooms-suites-bottom .rooms-suites-top-card .text-div .text-div-bottom h3,
#rooms-suites .rooms-suites .rooms-suites-bottom .rooms-suites-bottom-card .text-div .text-div-bottom h3 {
  font-size: 32px;
  position: relative;
}
#rooms-suites .rooms-suites .rooms-suites-top .rooms-suites-top-card .text-div .text-div-bottom h3::after,
#rooms-suites .rooms-suites .rooms-suites-top .rooms-suites-bottom-card .text-div .text-div-bottom h3::after,
#rooms-suites .rooms-suites .rooms-suites-bottom .rooms-suites-top-card .text-div .text-div-bottom h3::after,
#rooms-suites .rooms-suites .rooms-suites-bottom .rooms-suites-bottom-card .text-div .text-div-bottom h3::after {
  content: "";
  background-color: #fff;
  width: 50px;
  height: 1px;
  position: absolute;
  bottom: -10px;
  left: 0;
  transition: 1s;
}
#rooms-suites .rooms-suites .rooms-suites-top .rooms-suites-top-card .text-div .text-div-bottom .icons-details,
#rooms-suites .rooms-suites .rooms-suites-top .rooms-suites-bottom-card .text-div .text-div-bottom .icons-details,
#rooms-suites .rooms-suites .rooms-suites-bottom .rooms-suites-top-card .text-div .text-div-bottom .icons-details,
#rooms-suites .rooms-suites .rooms-suites-bottom .rooms-suites-bottom-card .text-div .text-div-bottom .icons-details {
  margin-top: 20px;
  display: flex;
  align-items: center;
}
#rooms-suites .rooms-suites .rooms-suites-top .rooms-suites-top-card .text-div .text-div-bottom .icons-details img,
#rooms-suites .rooms-suites .rooms-suites-top .rooms-suites-bottom-card .text-div .text-div-bottom .icons-details img,
#rooms-suites .rooms-suites .rooms-suites-bottom .rooms-suites-top-card .text-div .text-div-bottom .icons-details img,
#rooms-suites .rooms-suites .rooms-suites-bottom .rooms-suites-bottom-card .text-div .text-div-bottom .icons-details img {
  width: 20px;
}
#rooms-suites .rooms-suites .rooms-suites-top .rooms-suites-top-card .text-div .text-div-bottom .icons-details .details,
#rooms-suites .rooms-suites .rooms-suites-top .rooms-suites-bottom-card .text-div .text-div-bottom .icons-details .details,
#rooms-suites .rooms-suites .rooms-suites-bottom .rooms-suites-top-card .text-div .text-div-bottom .icons-details .details,
#rooms-suites .rooms-suites .rooms-suites-bottom .rooms-suites-bottom-card .text-div .text-div-bottom .icons-details .details {
  position: absolute;
  right: 50px;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 20px;
}
#rooms-suites .rooms-suites .rooms-suites-top .rooms-suites-top-card:hover .img-div img,
#rooms-suites .rooms-suites .rooms-suites-top .rooms-suites-bottom-card:hover .img-div img,
#rooms-suites .rooms-suites .rooms-suites-bottom .rooms-suites-top-card:hover .img-div img,
#rooms-suites .rooms-suites .rooms-suites-bottom .rooms-suites-bottom-card:hover .img-div img {
  transition: 1s;
  transform: scale(1.1);
}
#rooms-suites .rooms-suites .rooms-suites-top .rooms-suites-top-card:hover .text-div,
#rooms-suites .rooms-suites .rooms-suites-top .rooms-suites-bottom-card:hover .text-div,
#rooms-suites .rooms-suites .rooms-suites-bottom .rooms-suites-top-card:hover .text-div,
#rooms-suites .rooms-suites .rooms-suites-bottom .rooms-suites-bottom-card:hover .text-div {
  transition: 1.5s;
  background-color: rgba(0, 0, 0, 0.5);
}
#rooms-suites .rooms-suites .rooms-suites-top .rooms-suites-top-card:hover .text-div .text-div-bottom,
#rooms-suites .rooms-suites .rooms-suites-top .rooms-suites-bottom-card:hover .text-div .text-div-bottom,
#rooms-suites .rooms-suites .rooms-suites-bottom .rooms-suites-top-card:hover .text-div .text-div-bottom,
#rooms-suites .rooms-suites .rooms-suites-bottom .rooms-suites-bottom-card:hover .text-div .text-div-bottom {
  transition: 1s;
  transform: translateY(0);
  transition-timing-function: ease-in-out;
}
#rooms-suites .rooms-suites .rooms-suites-top .rooms-suites-top-card:hover .text-div .text-div-bottom h3::after,
#rooms-suites .rooms-suites .rooms-suites-top .rooms-suites-bottom-card:hover .text-div .text-div-bottom h3::after,
#rooms-suites .rooms-suites .rooms-suites-bottom .rooms-suites-top-card:hover .text-div .text-div-bottom h3::after,
#rooms-suites .rooms-suites .rooms-suites-bottom .rooms-suites-bottom-card:hover .text-div .text-div-bottom h3::after {
  transition: 0.7s;
  width: 85%;
}
#rooms-suites .rooms-suites .rooms-suites-bottom .rooms-suites-bottom-card {
  max-width: 48%;
}
@media only screen and (max-width: 768px) {
  #rooms-suites .rooms-suites .rooms-suites-top {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #rooms-suites .rooms-suites .rooms-suites-top .rooms-suites-top-card {
    max-width: 520px;
  }
  #rooms-suites .rooms-suites .rooms-suites-top .rooms-suites-top-card .text-div .text-div-bottom .icons-details .icons {
    display: none;
  }
  #rooms-suites .rooms-suites .rooms-suites-top .rooms-suites-top-card .text-div .text-div-bottom .icons-details .details {
    margin-top: 20px;
  }
  #rooms-suites .rooms-suites .rooms-suites-top .rooms-suites-top-card:hover .text-div .text-div-bottom {
    transition: 1s;
    transform: translateY(-30%);
    transition-timing-function: ease-in-out;
  }
}

#extra-services {
  padding: 5%;
  background-color: #222;
}
#extra-services .extra-services .extra-services-left {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
#extra-services .extra-services .extra-services-left .text-prices {
  color: #aa8453;
  font-size: 18px;
  font-family: "Barlow Condensed", sans-serif;
}
#extra-services .extra-services .extra-services-left .text-services {
  font-size: 48px;
  color: #fff;
  font-family: "Gilda Display", serif;
}
#extra-services .extra-services .extra-services-left .text-description {
  color: #adadad;
  font-size: 17px;
  line-height: 25px;
}
#extra-services .extra-services .extra-services-left a {
  display: flex;
}
#extra-services .extra-services .extra-services-left a img {
  margin-right: 20px;
  width: 40px;
}
#extra-services .extra-services .extra-services-left a .text-information {
  color: #adadad;
  font-size: 18px;
  margin-bottom: 7px;
  font-family: "Barlow", sans-serif;
}
#extra-services .extra-services .extra-services-left a .text-phone {
  color: #aa8453;
  font-size: 24px;
  font-family: "Gilda Display", serif;
}
#extra-services .extra-services .extra-services-right {
  margin-top: 30px;
}
#extra-services .extra-services .extra-services-right .owl-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
#extra-services .extra-services .extra-services-right .owl-nav {
  display: none;
}
#extra-services .extra-services .extra-services-right .owl-dots {
  margin-top: 20px;
}
#extra-services .extra-services .extra-services-right .owl-dots .owl-dot span {
  border: 1px solid #fff;
  background-color: transparent;
}
#extra-services .extra-services .extra-services-right .owl-dots .active span {
  border: none;
  background-color: #aa8453;
}
#extra-services .extra-services .extra-services-right .item {
  background-color: #fff;
  max-width: 350px;
}
#extra-services .extra-services .extra-services-right .item .carousel-text {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#extra-services .extra-services .extra-services-right .item .carousel-text h2 {
  font-family: "Gilda Display", serif;
  font-weight: 500;
  font-size: 24px;
}
#extra-services .extra-services .extra-services-right .item .carousel-text p {
  color: #aa8453;
  font-size: 48px;
  font-family: "Gilda Display", serif;
}
#extra-services .extra-services .extra-services-right .item .carousel-text p sub {
  font-size: 16px;
  color: #666;
}
#extra-services .extra-services .extra-services-right .item .carousel-text ul {
  line-height: 40px;
}
#extra-services .extra-services .extra-services-right .item .carousel-text ul li {
  color: #666;
  font-family: "Barlow", sans-serif;
}
#extra-services .extra-services .extra-services-right .item .carousel-text ul li i {
  color: #aa8453;
  font-size: 20px;
  margin-right: 10px;
}

#pro-video {
  padding: 5%;
  background-image: url(../images/home-images/hero/slide1.jpg);
  background-attachment: fixed;
  background-size: cover;
  color: #fff;
  position: relative;
  height: 70vh;
}
#pro-video .pro-video {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.311);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  text-align: center;
}
#pro-video .pro-video p {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 4px;
}
#pro-video .pro-video h1 {
  font-family: "Gilda Display", serif;
  font-size: 48px;
}
#pro-video .pro-video .play-btn {
  width: 110px;
  height: 110px;
  background: linear-gradient(110deg, #a3832a, #101010);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  transition: all 0.5s ease-in-out 0s;
  box-shadow: rgba(228, 219, 182, 0.698) 0px 0px 0px 0px;
  animation: 1.9s cubic-bezier(0.8, 0, 0, 1) 0s infinite normal none running pulse;
  cursor: pointer;
}
#pro-video .pro-video .play-btn img {
  animation: playbtn 2.5s ease-in-out infinite;
}
@keyframes playbtn {
  50% {
    transform: scale(1.1);
  }
}
@keyframes pulse {
  100% {
    box-shadow: 0 0 0 45px rgba(193, 244, 246, 0);
  }
}
#pro-video .pro-video .play-btn:hover {
  background: #fff;
  border: 3px solid #aa8453;
}

#facilities {
  padding: 5%;
  background-color: #222;
}
#facilities .facilities span {
  font-size: 24px;
  color: #adadad;
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 3px;
}
#facilities .facilities h2 {
  margin-top: 30px;
  font-family: "Gilda Display", serif;
  font-size: 50px;
  color: #fff;
}
#facilities .facilities .facilities-cards {
  margin: 40px 0;
}
#facilities .facilities .facilities-cards .facilities-card {
  padding: 10px;
  margin-bottom: 20px;
}
#facilities .facilities .facilities-cards .facilities-card .facilities-card-div {
  padding: 20px;
  background-color: #ececec;
  height: 220px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow: hidden;
  transition: 1s;
  transition-timing-function: ease-in;
}
#facilities .facilities .facilities-cards .facilities-card .facilities-card-div img {
  width: 38px;
}
#facilities .facilities .facilities-cards .facilities-card .facilities-card-div h1 {
  font-family: "Gilda Display", serif;
  font-size: 36px;
  position: relative;
}
#facilities .facilities .facilities-cards .facilities-card .facilities-card-div h1:after {
  transition: 1s;
  transition-timing-function: ease-in;
  content: "";
  background-color: #fff;
  width: 70px;
  height: 3px;
  position: absolute;
  bottom: -10px;
  left: 0;
  background-color: #222;
}
#facilities .facilities .facilities-cards .facilities-card .facilities-card-div p {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 20px;
  color: #fff;
  transform: translateY(160%);
  transition: 1s;
}
#facilities .facilities .facilities-cards .facilities-card .facilities-card-div:hover {
  transition: 1s;
  transition-timing-function: ease-out;
  background: linear-gradient(-45deg, #685136 0%, #706d7c 100%);
}
#facilities .facilities .facilities-cards .facilities-card .facilities-card-div:hover p {
  transform: translateY(-20%);
  transition: 1s;
}
#facilities .facilities .facilities-cards .facilities-card .facilities-card-div:hover h1::after {
  transition: 1s;
  transition-timing-function: ease-out;
  transform: translateX(370%);
  color: #fff;
}

/*# sourceMappingURL=main.css.map */
