@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200&display=swap");
* {
  text-decoration: none !important;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#header {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 40px 0;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 3px;
  color: #fff;
  z-index: 9999;
}
#header .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .header .logo-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
#header .header .logo-img img {
  width: 160px;
}
#header .header nav .menu-btn {
  display: none;
  background-color: transparent;
  border: none;
}
#header .header nav .menu-btn i {
  color: #aa8453;
}
#header .header nav ul {
  display: flex;
  gap: 30px;
}
#header .header nav ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .header nav ul li .dropdown {
  position: relative;
  overflow: hidden;
}
#header .header nav ul li .dropdown .dropdown-toggle {
  padding: 15px 0;
  transition: all 0.4s;
}
#header .header nav ul li .dropdown .dropdown-toggle::after {
  display: none;
}
#header .header nav ul li .dropdown .dropdown-toggle:hover {
  color: #aa8453;
}
#header .header nav ul li .dropdown .dropdown-menu {
  width: 200px;
  display: block;
  border: none;
  border-radius: 0;
  position: absolute;
  transform: translateY(50px);
  transition: 0.5s;
  transition-timing-function: ease-in;
  padding: 5px 15px;
}
#header .header nav ul li .dropdown .dropdown-menu li {
  padding: 10px 0;
}
#header .header nav ul li .dropdown .dropdown-menu li a {
  color: #000;
}
#header .header nav ul li .dropdown .dropdown-menu li:hover a {
  background-color: transparent;
  padding-left: 30px;
}
#header .header nav ul li .dropdown .dropdown-menu .dropdown-item-border {
  border-bottom: 1px solid #ddd;
}
#header .header nav ul li .dropdown:hover {
  overflow: visible;
}
#header .header nav ul li .dropdown:hover .dropdown-menu {
  transform: translateY(0);
  transition: 0.5s;
  transition-timing-function: ease-out;
}
#header .header nav ul li a {
  transition: all 0.4s;
  color: #fff;
}
#header .header nav ul li a:hover {
  color: #aa8453;
}
@media only screen and (max-width: 992px) {
  #header .header nav .menu-btn {
    display: block;
  }
  #header .header nav ul {
    display: none;
  }
}

.menu-items {
  display: none;
  height: 370px;
  padding: 30px;
  margin-top: 118px;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  letter-spacing: 3px;
  position: absolute;
  z-index: 15;
  background-color: #fff;
  width: 100%;
  left: 0;
}
.menu-items ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.menu-items li .dropdown {
  transition: all 0.4s;
}
.menu-items li .dropdown .dropdown-toggle::after {
  display: none;
}
.menu-items li .dropdown .dropdown-menu {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 0;
  font-weight: 100;
  display: none;
  border: none;
  border-radius: 0;
}
.menu-items li .dropdown .dropdown-menu li .dropdown-item-border {
  border-bottom: 1px solid #ddd;
}
.menu-items li .dropdown .dropdown-menu li a {
  color: gray;
}
.menu-items li .dropdown .dropdown-menu li:hover a {
  background-color: transparent;
  padding-left: 30px;
}
.menu-items li .dropdown:hover .dropdown-menu {
  display: block;
}
.menu-items li a {
  color: #000;
}

#heroSec {
  height: 100vh;
}
#heroSec .slide-opacity {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 30;
}
#heroSec #carouselExampleFade .carousel-indicators {
  z-index: 32;
  display: flex;
  flex-direction: column;
  height: 100%;
  right: 50px;
  left: unset;
  margin: 0;
}
#heroSec #carouselExampleFade .carousel-indicators::after, #heroSec #carouselExampleFade .carousel-indicators::before {
  height: 70px;
  width: 2px;
  content: "";
  position: absolute;
  background-color: rgba(255, 255, 255, 0.3);
  right: 7px;
}
#heroSec #carouselExampleFade .carousel-indicators::after {
  top: 250px;
}
#heroSec #carouselExampleFade .carousel-indicators::before {
  bottom: 250px;
}
#heroSec #carouselExampleFade .carousel-indicators button {
  background-color: transparent;
  color: #fff;
  opacity: 1;
  width: unset;
  height: unset;
  text-indent: unset;
}
#heroSec #carouselExampleFade .carousel-indicators button.active {
  color: #aa8453;
}
#heroSec #carouselExampleFade .carousel-inner .carousel-item img {
  height: 100vh;
  width: 100%;
  object-fit: cover;
}
#heroSec #carouselExampleFade .carousel-inner .carousel-item .carousel-caption {
  z-index: 32;
  visibility: hidden;
  height: 100%;
  width: 770px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  transition: 0.8s;
  transform: translateY(150px);
  transition-timing-function: ease-in;
  opacity: 0.5;
}
#heroSec #carouselExampleFade .carousel-inner .carousel-item .carousel-caption i {
  color: #e4a853;
}
#heroSec #carouselExampleFade .carousel-inner .carousel-item .carousel-caption h4 {
  font-size: 24px;
  transition-delay: 0.2s;
}
#heroSec #carouselExampleFade .carousel-inner .carousel-item .carousel-caption h1 {
  font-size: 72px;
  letter-spacing: 0.1em;
  transition-delay: 0.4s;
}
#heroSec #carouselExampleFade .carousel-inner .carousel-item .carousel-caption a {
  padding: 10px 30px;
  border: 1px solid #ddd;
  color: #fff;
  font-size: 20px;
  transition-delay: 0.6s;
  position: relative;
  overflow: hidden;
}
#heroSec #carouselExampleFade .carousel-inner .carousel-item .carousel-caption a::after {
  position: absolute;
  background-color: #fff;
  width: 100%;
  height: 100%;
  content: "";
  top: 0;
  left: 0;
  transition: 0.5s;
  transform: translateX(-100%);
  transition-timing-function: ease-in;
  z-index: -1;
}
#heroSec #carouselExampleFade .carousel-inner .carousel-item .carousel-caption a:hover {
  color: gray;
  transition-delay: 0s;
}
#heroSec #carouselExampleFade .carousel-inner .carousel-item .carousel-caption a:hover::after {
  transition: 0.5s;
  transform: translateX(0);
  transition-timing-function: ease-out;
}
#heroSec #carouselExampleFade .carousel-inner .carousel-item.active .carousel-caption {
  visibility: visible;
  opacity: 1;
  transition: 1s;
  transform: translateY(0);
  transition-timing-function: ease-out;
}
#heroSec #carouselExampleFade .carousel-control-prev,
#heroSec #carouselExampleFade .carousel-control-next {
  display: inline-block;
  width: unset;
  height: 50px;
  bottom: 60px;
  right: 180px;
  left: unset;
  top: unset;
  z-index: 32;
}
#heroSec #carouselExampleFade .carousel-control-prev {
  right: 230px;
}
#heroSec #carouselExampleFade .carousel-control-prev-icon,
#heroSec #carouselExampleFade .carousel-control-next-icon {
  z-index: 32;
  padding: 20px;
  background-size: 20px;
  font-size: 5px;
  border-radius: 100%;
  border: 1px solid #fff;
  transition: all 0.4s;
}
#heroSec #carouselExampleFade .carousel-control-prev-icon:hover,
#heroSec #carouselExampleFade .carousel-control-next-icon:hover {
  border-color: #aa8453;
  transition: all 0.4s;
  transform: scale(0.8);
}
#heroSec #carouselExampleFade .slide-phone {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 32;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  left: 50px;
}
#heroSec #carouselExampleFade .slide-phone div {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  color: #fff;
  font-size: 20px;
  line-height: 1.5em;
  letter-spacing: 0.2em;
}
#heroSec #carouselExampleFade .slide-phone div span {
  color: #aa8453;
  font-size: 24px;
}
#heroSec #carouselExampleFade .slide-phone i {
  color: #fff;
  border-radius: 100%;
  border: 1px solid rgba(255, 255, 255, 0.8);
  padding: 15px;
  font-size: 24px;
  margin-top: 10px;
}

#aboutSec {
  padding: 5%;
}
#aboutSec .about-sec .about-sec-left {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 30px;
}
#aboutSec .about-sec .about-sec-left span i {
  color: #e4a853;
}
#aboutSec .about-sec .about-sec-left p {
  font-size: 17px;
  color: #666;
  line-height: 25px;
}
#aboutSec .about-sec .about-sec-left h1 {
  font-size: 50px;
}
#aboutSec .about-sec .about-sec-left .slide-phone {
  display: flex;
  justify-content: center;
  align-items: center;
}
#aboutSec .about-sec .about-sec-left .slide-phone div {
  color: #fff;
  font-size: 20px;
  line-height: 1.5em;
  letter-spacing: 0.2em;
}
#aboutSec .about-sec .about-sec-left .slide-phone div span {
  color: #aa8453;
  font-size: 24px;
}
#aboutSec .about-sec .about-sec-left .slide-phone i {
  color: #aa8453;
  padding: 15px;
  font-size: 36px;
  margin-top: 10px;
}
#aboutSec .about-sec .about-sec-right img {
  max-width: 261px;
}
#aboutSec .about-sec .about-sec-right .about-img-1 {
  margin-top: 170px;
}
#aboutSec .about-sec .about-sec-right .about-img-2 {
  margin-top: 0;
}

/*# sourceMappingURL=main.css.map */
