#products {
  padding: 5% 0;
  background-color: #343333;
  .products-left {
    padding: 20px;
    .inp-div,
    .sort-div {
      padding: 30px;
      background-color: #bcb9b9;
      margin-bottom: 20px;
    }
    .inp-div {
      input {
        width: 100%;
        padding: 10px;
        font-size: 20px;
        font-family: $barlow-font;
        outline: none;
        border: none;
        background-color: transparent;
        border-bottom: 1px solid #7a7a7a;
      }
    }
    .sort-div {
      @include dFlex(center, start);
      flex-direction: column;
      h3 {
        font-family: $secondary-font;
        font-size: 24px;
        color: $gray-color;
      }
      hr {
        width: 100%;
        color: #000000;
      }
      button {
        background-color: transparent;
        border: none;
        padding: 10px 0;
        font-family: $barlow-font;
        font-size: 20px;
        color: $gray-color;
        &:hover {
          color: $white-color;
        }
      }
    }
  }
  .products-right {
    .product-div {
      padding: 20px;
      margin-bottom: 50px;
      .img-div {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        transition: all 5s ease-in-out;
        img {
          width: 100%;
          height: 100%;
        }
        .cart-fav {
          @include dFlex(center);
          gap: 30px;
          color: $white-color;
          font-size: 24px;
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.5);
          top: 0;
          display: none;
          transition: all 5s ease-in-out;
        }
        &:hover {
          .cart-fav {
            transition: all 5s ease-in-out;
            display: flex;
          }
        }
      }
      .name-price{
        color: $white-color;
        padding: 20px 0;
        // background-color: #a09580;
        h3{
          font-family: $secondary-font;
          font-size: 20px;
          margin-bottom: 10px;
        }
        p,span{
          font-family: $barlow-font;
          font-size: 16px;
          text-align: start;
          margin-right: 10px;
          span{
            text-decoration:line-through !important;
          }
        }
      }
    }
    .load-more {
      margin-top: 30px;
      margin-left: 10px;
      --color: #b08964;
      padding: 0.8em 1.7em;
      background-color: transparent;
      border-radius: 0.3em;
      position: relative;
      overflow: hidden;
      cursor: pointer;
      transition: 0.5s;
      font-weight: 400;
      font-size: 17px;
      border: 1px solid;
      font-family: $secondary-font;
      text-transform: uppercase;
      color: var(--color);
      z-index: 1;
      &::before,
      &::after {
        content: "";
        display: block;
        width: 50px;
        height: 50px;
        transform: translate(-50%, -50%);
        position: absolute;
        border-radius: 50%;
        z-index: -1;
        background-color: var(--color);
        transition: 1s ease;
      }
      &::before {
        top: -1em;
        left: -1em;
      }
      &::after {
        left: calc(100% + 1em);
        top: calc(100% + 1em);
      }
      &:hover::before,
      &:hover::after {
        height: 410px;
        width: 410px;
      }
      &:hover {
        color: rgb(90, 69, 44);
      }
    
      &:active {
        filter: brightness(0.8);
      }
    }
  }
}
