body{
  background-attachment: fixed;
  background-size: cover;
}
.body-home-page{
  background-image: url(../images/home-images/hero/slide1.jpg);
}
.body-about-page{
  background-image: url(../images/home-images/hero/slide3.jpg);
}