$primary-color: #aa8453;
$white-color:#fff;
$black-color:#000;
$gray-color: #666;
$light-gray:#adadad;
$dark-bg-color:#222;
$primary-font:"Barlow Condensed", sans-serif;
$secondary-font:'Gilda Display', serif;
$barlow-font:'Barlow', sans-serif;