@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap");
* {
  text-decoration: none !important;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#admin-header {
  padding: 1%;
}
#admin-header .admin-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#admin-header .admin-header .logo {
  max-width: 150px;
}
#admin-header .admin-header nav {
  /* .switch:hover */
  /* plus sign */
  /* text */
}
#admin-header .admin-header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
#admin-header .admin-header nav ul .screen-size {
  max-width: 20px;
  cursor: pointer;
}
#admin-header .admin-header nav ul .admin-img {
  max-width: 50px;
  border-radius: 100%;
}
#admin-header .admin-header nav .switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 64px;
  height: 34px;
}
#admin-header .admin-header nav .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
#admin-header .admin-header nav .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #dce5ee;
  transition: 0.4s;
  border-radius: 30px;
}
#admin-header .admin-header nav .slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  border-radius: 20px;
  left: 2px;
  bottom: 2px;
  z-index: 2;
  background-color: #7a7676;
  transition: 0.4s;
}
#admin-header .admin-header nav .sun svg {
  position: absolute;
  top: 6px;
  left: 36px;
  z-index: 1;
  width: 24px;
  height: 24px;
}
#admin-header .admin-header nav .moon svg {
  fill: #73C0FC;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
  width: 24px;
  height: 24px;
}
#admin-header .admin-header nav .sun svg {
  animation: rotate 3s linear infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
#admin-header .admin-header nav .moon svg {
  animation: tilt 3s linear infinite;
}
@keyframes tilt {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-20deg);
  }
  75% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
#admin-header .admin-header nav .input:checked + .slider {
  background-color: #081221;
}
#admin-header .admin-header nav .input:focus + .slider {
  box-shadow: 0 0 1px #183153;
}
#admin-header .admin-header nav .input:checked + .slider:before {
  transform: translateX(30px);
}
#admin-header .admin-header nav .Btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: rgb(60, 56, 78);
}
#admin-header .admin-header nav .sign {
  width: 100%;
  transition-duration: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}
#admin-header .admin-header nav .sign svg {
  width: 17px;
}
#admin-header .admin-header nav .sign svg path {
  fill: #fff;
}
#admin-header .admin-header nav .text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: #fff;
  font-size: 1.2em;
  transition-duration: 0.3s;
  font-family: "Barlow Condensed", sans-serif;
}
#admin-header .admin-header nav .Btn:hover {
  width: 125px;
  border-radius: 40px;
  transition-duration: 0.3s;
}
#admin-header .admin-header nav .Btn:hover .sign {
  width: 30%;
  transition-duration: 0.3s;
  padding-left: 20px;
}
#admin-header .admin-header nav .Btn:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: 0.3s;
  padding-right: 10px;
}
#admin-header .admin-header nav .Btn:active {
  transform: translate(2px, 2px);
}

body {
  margin-left: 250px;
}
body #main-side-menu {
  position: fixed;
  width: 250px;
  background-color: transparent;
  top: 0;
  left: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
body #main-side-menu .main-side-menu h1 {
  font-family: "Barlow Condensed", sans-serif;
  color: #36363c;
  font-size: 36px;
  margin-bottom: 50px;
  font-weight: 600;
}
body #main-side-menu .main-side-menu nav ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
body #main-side-menu .main-side-menu nav ul h3 {
  font-family: "Gilda Display", serif;
  font-size: 20px;
}
body #main-side-menu .main-side-menu nav ul a {
  color: #000;
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 2px;
  font-size: 20px;
  display: flex;
  align-items: center;
}
body #main-side-menu .main-side-menu nav ul a img {
  width: 30px;
  margin-right: 10px;
}
body #main-section {
  padding: 5% 0;
  background-color: #f3f4f6;
}
body #main-section h3 {
  font-family: "Gilda Display", serif;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}
body #main-section p {
  font-family: "Barlow", sans-serif;
  font-size: 20px;
  margin-bottom: 30px;
}
body #main-section .main {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
body #main-section .main-container-right {
  background-color: #e1e6fb;
  border-radius: 10px;
  padding: 20px;
  width: 35%;
}
body #main-section .main-container-right .members-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body #main-section .main-container-right .members-header a {
  font-family: "Gilda Display", serif;
  font-size: 20px;
  font-weight: 600;
  color: #000;
  display: flex;
  justify-content: start;
  align-items: center;
}
body #main-section .main-container-right .members-header a img {
  width: 40px;
  margin-right: 10px;
}
body #main-section .main-container-right .members-header .more {
  margin-left: 80px;
  width: 40px;
  cursor: pointer;
}
body #main-section .main-container-right .member {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #a5a1a1;
}
body #main-section .main-container-right .member .img-text {
  display: flex;
}
body #main-section .main-container-right .member .img-text img {
  width: 70px;
  border-radius: 100%;
  margin-right: 10px;
}
body #main-section .main-container-right .member .img-text p, body #main-section .main-container-right .member .img-text h3 {
  margin: 0;
  font-family: "Barlow", sans-serif;
}
body #main-section .main-container-right .member .member-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body #main-section .main-container-right .member .actions i {
  font-size: 20px;
  cursor: pointer;
}
body #main-section .main-container-right .member .actions .fa-pencil {
  margin-right: 10px;
  color: goldenrod;
}
body #main-section .main-container-right .member .actions .fa-trash {
  margin-right: 10px;
  color: rgb(99, 112, 226);
}
body #main-section .main-container {
  background: #444e80;
  color: #abafc6;
  border-radius: 5px;
  padding: 20px;
  width: 60%;
  height: 550px;
}
body #main-section .year-stats {
  white-space: nowrap;
  max-height: 300px;
  overflow: hidden;
}
body #main-section .year-stats:hover {
  overflow-x: auto;
}
body #main-section ::-webkit-scrollbar {
  height: 5px;
  width: 100%;
}
body #main-section ::-webkit-scrollbar-track {
  background: #444e80;
}
body #main-section ::-webkit-scrollbar-thumb {
  background: #abafc6;
  border-radius: 10px;
}
body #main-section ::-webkit-scrollbar-thumb {
  background: #5397d6;
}
body #main-section .month-group {
  cursor: pointer;
  max-width: 400px;
  height: 110px;
  margin: 10px;
  display: inline-block;
}
body #main-section .bar {
  background-color: #abafc6;
  width: 20px;
  border-radius: 5px;
  margin-bottom: 10px;
}
body #main-section .month-group:hover .bar,
body #main-section .selected {
  background: #5397d6;
}
body #main-section .month-group:hover p,
body #main-section .selected p {
  color: #fff;
}
body #main-section .stats-info {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}
body #main-section .graph-container {
  position: relative;
}
body #main-section .percent {
  display: block;
  width: 120px;
  height: 120px;
}
body #main-section .circle {
  stroke: #72b5f3;
  fill: none;
  stroke-width: 3;
}
body #main-section .circle:nth-child(2) {
  stroke: #f055b0;
}
body #main-section .circle:nth-child(3) {
  stroke: #5397d6;
}
body #main-section .circle:nth-child(4) {
  stroke: #4cc790;
}
body #main-section .graph-container p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  color: #fff;
  text-align: center;
}
body #main-section .info p {
  margin-bottom: 10px;
}
body #main-section .info span {
  color: #fff;
}
body #main-section .info .text-color-circle {
  position: relative;
  padding-left: 25px;
}
body #main-section .info .text-color-circle:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  left: 0px;
}
body #main-section .text-color-restaurant::after {
  background-color: #f055b0;
}
body #main-section .text-color-shop::after {
  background-color: #72b5f3;
}
body .dark-mode {
  background-color: #424549;
  color: #ddd;
}
body .dark-mode#main-side-menu {
  background-color: #424549;
}
body .dark-mode#main-side-menu .main-side-menu h1 {
  color: #fff;
}
body .dark-mode#main-side-menu .main-side-menu nav ul h3 {
  color: #ddd;
}
body .dark-mode#main-side-menu .main-side-menu nav ul a {
  color: #ddd;
}
body .dark-mode#main-section {
  background-color: #4c4f54;
}
body .dark-mode#main-section h3, body .dark-mode#main-section p {
  color: #ddd;
}
body .dark-mode#main-section .main-container-right {
  background-color: #686a6d;
}
body .dark-mode#main-section .main-container-right .member .actions .fa-trash {
  color: rgb(151, 154, 186);
}
body .dark-mode#main-section .main-container {
  background: #686a6d;
  color: #abafc6;
}

#main-content-rooms {
  padding: 5% 0;
}
#main-content-rooms .main-content-rooms .col {
  margin-bottom: 20px;
}
#main-content-rooms .main-content-rooms .col .img-text {
  position: relative;
  height: 350px;
}
#main-content-rooms .main-content-rooms .col .img-text img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}
#main-content-rooms .main-content-rooms .col .img-text .price-room,
#main-content-rooms .main-content-rooms .col .img-text .price-sale {
  position: absolute;
}
#main-content-rooms .main-content-rooms .col .img-text .price-room {
  bottom: -15px;
  left: 37%;
  color: #fff;
  background-color: #000;
  padding: 15px;
  font-family: "Gilda Display", serif;
  font-size: 18px;
}
#main-content-rooms .main-content-rooms .col .img-text .price-sale {
  display: none;
  padding: 15px;
  top: 30px;
  right: 20px;
  color: #aa8453;
  background-color: #fff;
}
#main-content-rooms .main-content-rooms .col .rooms-text {
  max-width: 100%;
  text-align: center;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  font-family: "Gilda Display", serif;
}
#main-content-rooms .main-content-rooms .col .rooms-text .edit-delete {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
}
#main-content-rooms .main-content-rooms .col .rooms-text .edit-delete i {
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  transition: all 0.2s;
}
#main-content-rooms .main-content-rooms .col .rooms-text .edit-delete i:hover {
  transform: scale(1.2);
  transition: all 0.2s;
}
#main-content-rooms .main-content-rooms .col .rooms-text .edit-delete .edit:hover {
  color: rgb(218, 134, 32);
}
#main-content-rooms .main-content-rooms .col .rooms-text .edit-delete .delete:hover {
  color: brown;
}
#main-content-rooms .main-content-rooms .col .rooms-text h3 {
  font-size: 28px;
}
#main-content-rooms .main-content-rooms .col .rooms-text span {
  font-family: "Barlow", sans-serif;
}
#main-content-rooms .main-content-rooms .col .rooms-text a {
  color: #000;
  font-size: 18px;
}
#main-content-rooms .main-content-rooms .col .rooms-text a i {
  position: relative;
  left: 10px;
}
#main-content-rooms .main-content-rooms .col .rooms-text a:hover i {
  animation-name: arrowLeft;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
}
@keyframes arrowLeft {
  0% {
    left: 10px;
  }
  50% {
    left: 20px;
  }
  100% {
    left: 10px;
  }
}

#add-edit .add-edit form {
  width: 700px;
  background-image: url(../images/Noise-background\ \(1\).jpg);
  margin: 0 auto;
  padding: 50px;
}
#add-edit .add-edit form h1 {
  text-align: center;
  font-family: "Gilda Display", serif;
  font-size: 32px;
  margin: 20px;
}
#add-edit .add-edit form label {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 24px;
}
#add-edit .add-edit form input, #add-edit .add-edit form textarea {
  background-color: #ddd;
  border: none;
  padding: 10px;
  font-size: 18px;
  font-family: "Barlow", sans-serif;
}
#add-edit .add-edit form input:focus, #add-edit .add-edit form textarea:focus {
  box-shadow: none;
}
#add-edit .add-edit form button {
  background-color: #5b5565;
  border-radius: 10px;
  padding: 10px;
  font-family: "Barlow", sans-serif;
  font-size: 20px;
  margin: 0 auto;
  display: flex;
  color: #ddd;
  border: none;
}
#add-edit .add-edit form button:focus {
  box-shadow: none;
}
#add-edit.dark-mode {
  background-color: #424549;
}
#add-edit.dark-mode form {
  background: #4C4F54;
  color: #fff;
}
#add-edit.dark-mode form button {
  background-color: #fff;
  color: #000;
}

#products-admin .products .table {
  margin-bottom: 0;
}
#products-admin .products thead th {
  font-family: "Gilda Display", serif;
  font-weight: 700;
  font-size: 24px;
  color: #666;
}
#products-admin .products tbody img {
  max-width: 130px;
}
#products-admin .products tbody td {
  vertical-align: middle;
  font-family: "Barlow", sans-serif;
  font-size: 18px;
}
#products-admin .products tbody td i {
  font-size: 24px;
  opacity: 0.7;
  cursor: pointer;
}
#products-admin .products tbody td i:hover {
  opacity: 1;
}
#products-admin .products tbody td .edit {
  color: goldenrod;
  margin-right: 20px;
}
#products-admin .products tbody td .delete {
  color: brown;
}
#products-admin.dark-mode .products tbody td {
  color: #fff;
}

#messages .messages {
  padding: 40px;
}
#messages .messages .message-card {
  padding: 20px;
  margin-bottom: 20px;
}
#messages .messages .message-card .message-card-div {
  background: url("../images/Noise-background (1).jpg") center;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
  color: #aa8453;
}
#messages .messages .message-card .message-card-div span {
  font-weight: 100;
}
#messages .messages .message-card .message-card-div h2, #messages .messages .message-card .message-card-div h3 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 32px;
  font-weight: 600;
}
#messages .messages .message-card .message-card-div h2 img, #messages .messages .message-card .message-card-div h3 img {
  width: 40px;
}
#messages .messages .message-card .message-card-div h2 {
  text-transform: capitalize;
}
#messages .messages .message-card .message-card-div div {
  height: 2px;
  width: 100%;
  border-bottom: 2px dotted gray;
}
#messages .messages .message-card .message-card-div h4 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 19px;
  font-weight: 600;
}
#messages .messages .message-card .message-card-div h4 a {
  color: #34333c;
}
#messages .messages .message-card .message-card-div span {
  font-family: "Barlow", sans-serif;
  color: #000;
}
#messages .messages .message-card .message-card-div p {
  font-weight: 100;
  margin-top: 10px;
  color: #000;
}

table thead th {
  font-size: 32px;
  font-family: "Barlow Condensed", sans-serif;
}
table td {
  font-size: 18px;
  font-family: "Gilda Display", serif;
}
table td i {
  font-size: 24px;
  cursor: pointer;
}
table td .edit {
  color: goldenrod;
  margin-right: 20px;
}
table td .delete {
  color: brown;
}
table .room-name {
  text-transform: uppercase;
}

.dark-mode th {
  color: #fff;
}
.dark-mode td {
  color: #a4a3a3;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 70px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}
.modal .modal-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 25%;
  float: right;
  margin-right: 50px;
}
.modal .modal-content p {
  font-family: "Barlow", sans-serif;
  font-size: 18px;
}
.modal .modal-content .yes-btn,
.modal .modal-content .cancel-btn {
  width: 100px;
  color: #fefefe;
  border: none;
  font-family: "Barlow Condensed", sans-serif;
  border-radius: 10px;
  float: right;
  font-size: 28px;
  font-weight: 600;
}
.modal .modal-content .yes-btn:hover,
.modal .modal-content .cancel-btn:hover {
  background-color: #4f4c61;
  color: #fff;
}
.modal .modal-content .cancel-btn {
  background-color: #ddd;
  color: #000;
}
.modal .modal-content .yes-btn {
  background-color: goldenrod;
}

.row-news {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.row-news .col {
  padding: 20px;
  text-align: center;
}
.row-news .col .user {
  height: 100%;
}
.row-news .col .user img {
  max-width: 100%;
  height: 250px;
}
.row-news .col .user .user-info {
  width: 100%;
  position: relative;
}
.row-news .col .user .user-info i {
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  top: -50px;
  right: 140px;
  color: #000;
  background-color: #a4cab8;
  padding: 20px;
  text-align: center;
  border-radius: 100%;
}
.row-news .col .user .user-info .text-visible {
  background-color: #ddd;
  padding: 20px;
}
.row-news .col .user .user-info .text-visible h3 {
  font-family: "Gilda Display", serif;
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 600;
}
.row-news .col .user .user-info .text-visible span {
  font-family: "Gilda Display", serif;
  font-size: 18px;
}
.row-news .col .user .user-info .text-hidden {
  background-color: #ddd;
  padding: 20px;
  display: none;
}

/*# sourceMappingURL=main.css.map */
