@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap");
* {
  text-decoration: none !important;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#admin-header {
  padding: 1%;
  border-bottom: 2px solid #ddd;
}
#admin-header .admin-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#admin-header .admin-header .logo {
  max-width: 150px;
}
#admin-header .admin-header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
#admin-header .admin-header nav ul .dark-mode, #admin-header .admin-header nav ul .screen-size, #admin-header .admin-header nav ul .log-out {
  max-width: 20px;
}
#admin-header .admin-header nav ul .admin-img {
  max-width: 50px;
  border-radius: 100%;
}

body {
  margin-left: 250px;
}
body #main-side-menu {
  position: fixed;
  width: 250px;
  background-color: #F3F4F6;
  top: 0;
  left: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
body #main-side-menu .main-side-menu h1 {
  font-family: "Barlow Condensed", sans-serif;
  color: #36363c;
  font-size: 36px;
  margin-bottom: 50px;
  font-weight: 600;
}
body #main-side-menu .main-side-menu nav ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
body #main-side-menu .main-side-menu nav ul a {
  color: #000;
  font-family: "Gilda Display", serif;
  font-size: 20px;
  display: flex;
  align-items: center;
}
body #main-side-menu .main-side-menu nav ul a img {
  width: 40px;
}
body #main-section {
  padding: 5% 0;
  /* SCROLL BAR STYLE (ONLY WORKS IN CHROME) */
  /* Width */
  /* Track */
  /* Handle */
}
body #main-section h3 {
  font-family: "Gilda Display", serif;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}
body #main-section p {
  font-family: "Barlow", sans-serif;
  font-size: 20px;
}
body #main-section .main-container {
  background: #444e80;
  color: #abafc6;
  border-radius: 5px;
  padding: 20px;
  width: 100%;
  height: 350px;
}
body #main-section .year-stats {
  white-space: nowrap;
  max-height: 170px;
  overflow: hidden;
}
body #main-section .year-stats:hover {
  overflow-x: auto;
}
body #main-section ::-webkit-scrollbar {
  height: 5px;
  width: 100%;
}
body #main-section ::-webkit-scrollbar-track {
  background: #444e80;
}
body #main-section ::-webkit-scrollbar-thumb {
  background: #abafc6;
  border-radius: 10px;
}
body #main-section ::-webkit-scrollbar-thumb {
  background: #5397d6;
}
body #main-section .month-group {
  cursor: pointer;
  max-width: 400px;
  height: 110px;
  margin: 10px;
  display: inline-block;
}
body #main-section .bar {
  background-color: #abafc6;
  width: 20px;
  border-radius: 5px;
  margin-bottom: 10px;
}
body #main-section .month-group:hover .bar,
body #main-section .selected .bar {
  background: #5397d6;
}
body #main-section .month-group:hover p,
body #main-section .selected p {
  color: #fff;
}
body #main-section .h-25 {
  height: 25%;
}
body #main-section .h-50 {
  height: 50%;
}
body #main-section .h-75 {
  height: 75%;
}
body #main-section .h-100 {
  height: 100%;
}
body #main-section .stats-info {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}
body #main-section .graph-container {
  position: relative;
}
body #main-section .percent {
  display: block;
  width: 120px;
  height: 120px;
}
body #main-section .circle {
  stroke: #915db1;
  fill: none;
  stroke-width: 3;
}
body #main-section .circle:nth-child(2) {
  stroke: #e59f3c;
}
body #main-section .circle:nth-child(3) {
  stroke: #5397d6;
}
body #main-section .circle:nth-child(4) {
  stroke: #4cc790;
}
body #main-section .graph-container p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  color: #fff;
  text-align: center;
}
body #main-section .info p {
  margin-bottom: 10px;
}
body #main-section .info span {
  color: #fff;
}

#main-content-rooms {
  padding: 5% 0;
}
#main-content-rooms .main-content-rooms .col {
  margin-bottom: 20px;
}
#main-content-rooms .main-content-rooms .col .img-text {
  position: relative;
  height: 350px;
}
#main-content-rooms .main-content-rooms .col .img-text img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}
#main-content-rooms .main-content-rooms .col .img-text .price-room,
#main-content-rooms .main-content-rooms .col .img-text .price-sale {
  position: absolute;
}
#main-content-rooms .main-content-rooms .col .img-text .price-room {
  bottom: -15px;
  left: 37%;
  color: #fff;
  background-color: #000;
  padding: 15px;
  font-family: "Gilda Display", serif;
  font-size: 18px;
}
#main-content-rooms .main-content-rooms .col .img-text .price-sale {
  display: none;
  padding: 15px;
  top: 30px;
  right: 20px;
  color: #aa8453;
  background-color: #fff;
}
#main-content-rooms .main-content-rooms .col .rooms-text {
  max-width: 100%;
  text-align: center;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  font-family: "Gilda Display", serif;
}
#main-content-rooms .main-content-rooms .col .rooms-text .edit-delete {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
}
#main-content-rooms .main-content-rooms .col .rooms-text .edit-delete i {
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  transition: all 0.2s;
}
#main-content-rooms .main-content-rooms .col .rooms-text .edit-delete i:hover {
  transform: scale(1.2);
  transition: all 0.2s;
}
#main-content-rooms .main-content-rooms .col .rooms-text .edit-delete .edit:hover {
  color: rgb(218, 134, 32);
}
#main-content-rooms .main-content-rooms .col .rooms-text .edit-delete .delete:hover {
  color: brown;
}
#main-content-rooms .main-content-rooms .col .rooms-text h3 {
  font-size: 28px;
}
#main-content-rooms .main-content-rooms .col .rooms-text span {
  font-family: "Barlow", sans-serif;
}
#main-content-rooms .main-content-rooms .col .rooms-text a {
  color: #000;
  font-size: 18px;
}
#main-content-rooms .main-content-rooms .col .rooms-text a i {
  position: relative;
  left: 10px;
}
#main-content-rooms .main-content-rooms .col .rooms-text a:hover i {
  animation-name: arrowLeft;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
}
@keyframes arrowLeft {
  0% {
    left: 10px;
  }
  50% {
    left: 20px;
  }
  100% {
    left: 10px;
  }
}

#add-room .add-room form {
  width: 700px;
  margin: 0 auto;
}

#products-admin .products thead th {
  font-family: "Gilda Display", serif;
  font-weight: 700;
  font-size: 24px;
  color: #666;
}
#products-admin .products tbody img {
  max-width: 130px;
}
#products-admin .products tbody td {
  vertical-align: middle;
  font-family: "Barlow", sans-serif;
  font-size: 18px;
}
#products-admin .products tbody td i {
  font-size: 24px;
  opacity: 0.7;
  cursor: pointer;
}
#products-admin .products tbody td i:hover {
  opacity: 1;
}
#products-admin .products tbody td .edit {
  color: goldenrod;
  margin-right: 20px;
}
#products-admin .products tbody td .delete {
  color: brown;
}

#messages .messages {
  padding: 40px;
}
#messages .messages .message-card {
  padding: 20px;
  margin-bottom: 20px;
}
#messages .messages .message-card .message-card-div {
  background: url("../images/Noise-background (1).jpg") center;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
  color: #aa8453;
}
#messages .messages .message-card .message-card-div span {
  font-weight: 100;
}
#messages .messages .message-card .message-card-div h2, #messages .messages .message-card .message-card-div h3 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 32px;
  font-weight: 600;
}
#messages .messages .message-card .message-card-div h2 img, #messages .messages .message-card .message-card-div h3 img {
  width: 40px;
}
#messages .messages .message-card .message-card-div h2 {
  text-transform: capitalize;
}
#messages .messages .message-card .message-card-div div {
  height: 2px;
  width: 100%;
  border-bottom: 2px dotted gray;
}
#messages .messages .message-card .message-card-div h4 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 19px;
  font-weight: 600;
}
#messages .messages .message-card .message-card-div h4 a {
  color: #34333c;
}
#messages .messages .message-card .message-card-div span {
  font-family: "Barlow", sans-serif;
  color: #000;
}
#messages .messages .message-card .message-card-div p {
  font-weight: 100;
  margin-top: 10px;
  color: #000;
}

/*# sourceMappingURL=main.css.map */
