#sign-in {
  background-color: #e9e9ea;
  color: $white-color;
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding: 2%;
  h1{
    text-align: center;
    color: #283334;
    margin: 30px 0;
  }
  .sign-in-form {
    max-width: 1000px;
    margin: 0 auto;
    h4 {
      font-family: $secondary-font;
      font-size: 32px;
      margin-bottom: 20px;
      color: #283334;
    }
    .sign-in-left {
      background-color: #afafb1;
      border-radius: 30px 0 0 30px;
      padding: 30px;
      .required-text{
        padding: 5px;
        color: rgb(227, 31, 31);
        font-family: $barlow-font;
        letter-spacing: 1.5px;
      }
      h3 {
        font-family: $barlow-font;
        font-size: 20px;
        a{
            color: #283334
        }
      }
      form {
        @include dFlex(center, start);
        flex-direction: column;
        gap: 10px;
        font-family: $barlow-font;
        input {
          background-color: transparent;
          width: 100%;
          outline: none;
          border: none;
          border-bottom: 1px solid #ddd;
          padding: 15px 0;
          color: $white-color;
          font-size: 20px;
          &:focus{
            border-bottom: 1px solid #283334;
          }
          &::placeholder {
            color: $white-color;
          }
        }
        .password-inp {
          position: relative;
          width: 100%;
          i {
            position: absolute;
            top: 10px;
            right: 20px;
          }
        }
        .c-button {
          color: white;
          font-size: 18px;
          text-decoration: none;
          padding: 0.7em 2em;
          cursor: pointer;
          display: inline-block;
          vertical-align: middle;
          position: relative;
          z-index: 1;
          background-color: #283334;
          border: none;
          &.c-button--gooey {
            color: white;
            text-transform: uppercase;
            letter-spacing: 2px;
            border-radius: 0;
            position: relative;
            transition: all 700ms ease;
            .c-button__blobs {
              height: 100%;
              filter: url(#goo);
              overflow: hidden;
              position: absolute;
              top: 0;
              left: 0;
              bottom: -3px;
              right: -1px;
              z-index: -1;
              div {
                background-color: #fff;
                width: 34%;
                height: 100%;
                border-radius: 100%;
                position: absolute;
                transform: scale(1.4) translateY(-125%) translateZ(0);
                transition: all 700ms ease;
                &:nth-child(1) {
                  left: -5%;
                }

                &:nth-child(2) {
                  left: 30%;
                  transition-delay: 60ms;
                }

                &:nth-child(3) {
                  left: 66%;
                  transition-delay: 25ms;
                }
              }
            }
            &.c-button--gooey:hover {
              color: #6f7272;
              background-color: #ffffff;
              .c-button__blobs div {
                transform: scale(1.4) translateY(0) translateZ(0);
              }
            }
          }
        }
      }
    }
    .sign-in-right {
      background-color:#989997;
      border-radius: 0 30px 30px 0;
      padding: 30px;
      @include dFlex(start, start);
      flex-direction: column;
      gap: 30px;
      p {
        font-family: $secondary-font;
        line-height: 25px;
        color: #283334;
      }
      .contact-phone,
      .contact-email,
      .contact-map {
        display: flex;
        align-items: center;
        gap: 20px;
        i {
          font-size: 36px;
          color: #283334;
        }
        span {
          color: $white-color;
          font-size: 20px;
          font-family: $barlow-font;
        }
        .contact-address{
            color: $white-color;
        }
      }
    }
  }
  @media only screen and (max-width:768px){
    .sign-in-form{
      .sign-in-left, .sign-in-right{
        border-radius: 0px;
      }
    }
  }
}
