#cart-products {
  padding: 5% 0;
  background-color: #c4c2c2;
  .remove-notification,
  p {
    margin-top: 100px;
    padding: 1rem;
    font-family: $barlow-font;
    font-size: 20px;
    color: $dark-bg-color;
    border: 1px solid $dark-bg-color;
    display: inline-block;
  }
  .remove-notification{
    position: fixed;
    background-color: #464646;
    width: 100%;
    top: 0;
    left: 0;
    padding: 40px 0;
    color: $white-color;
    text-align: center;
  }
  .total-price-div {
    display: block;
    text-align: end;
  }
  table {
    color: $white-color;
    width: 100%;
    margin: 8rem 0 .5rem 0;
    background-color: #383737;
    thead {
      th {
        padding: 10px;
        font-family: $secondary-font;
        font-size: 18px;
      }
    }
    tbody {
      font-family: $barlow-font;
      font-size: 20px;
      color: #dad8d8;
      tr {
        border-top: 2px solid $white-color;
      }
      td {
        vertical-align: middle;
        i {
          text-align: center;
          width: 100%;
          cursor: pointer;
        }
        input{
            background-color: transparent;
            border: none;
            outline: none;
            color: #dad8d8 ;
            width: 70px;
        }
      }
      .td-img {
        padding: 10px 0;
        img {
          width: 150px;
        }
      }
    }
  }
}
