#news-cards {
  padding: 5%;
  .news-cards {
    .news-left {
      .col {
        @include dFlex(center, start);
        flex-direction: column;
        gap: 15px;
        margin-bottom: 30px;
        .img-with-link {
          position: relative;
          width: 100%;
          height: 400px;
          overflow: hidden;
          .hidden-text {
            position: absolute;
            width: 100%;
            height: 100%;
            @include dFlex(center);
            background-color: rgba(0, 0, 0, 0.297);
            display: none;
            color: $white-color;
            font-family: $secondary-font;
            font-size: 32px;
            transition: all 1s;
          }
          img {
            max-width: 100%;
            object-fit: cover;
            transition: all 2s;
          }
          &:hover {
            img {
              max-width: 120%;
              transition: all 2s;
            }
            .hidden-text {
              display: flex;
              transition: all 2s;
            }
          }
        }
        span {
          font-family: $barlow-font;
          font-size: 15px;
          color: $primary-color;
        }
        .visible-text,.hidden-textt{
          font-family: $barlow-font;
          font-size: 18px;
          color: $gray-color;
          line-height: 25px;
        }
        .news-title {
          font-family: $secondary-font;
          font-size: 32px;
          color: $black-color;
        }
        .read-more-btn {
          @extend %primary-btn;
          background-color: $primary-color;
          font-family: $primary-font;
          color: $white-color;
          transition-delay: unset;
          i{
            color: $white-color;
          }
          &:hover{
            background-color: $white-color;
            color: $primary-color;
            i{
              color: $primary-color;
            }
          }
        }
      }
    }
    .news-right {
      padding: 0 20px;
      .input-div,
      .recent-post,
      .categories,
      .tags {
        background-color: $primary-bg-color;
        padding: 30px;
        margin-bottom: 20px;
        h3 {
          font-family: $secondary-font;
          font-size: 24px;
        }
        hr {
          background-color: $primary-color;
        }
        a {
          color: $gray-color;
          font-family: $barlow-font;
        }
        .img-text,
        .tags-link {
          display: flex;
          gap: 15px;
        }
      }
      .input-div {
        input {
          width: 100%;
          border: none;
          outline: none;
          padding: 10px;
          font-family: $barlow-font;
        }
      }
      .recent-post {
        .img-text {
          margin-bottom: 20px;
          align-items: center;
          img {
            max-width: 100px;
          }
        }
      }
      .categories {
        display: flex;
        flex-direction: column;
        gap: 15px;
      }
      .tags {
        .tags-link {
          flex-wrap: wrap;
        }
        a {
          background-color: $white-color;
          padding: 10px;
        }
      }
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 992px) {
    .news-cards {
      .news-right {
        .recent-post {
          .img-text {
            flex-direction: column;
            align-items: start;
          }
        }
      }
    }
  }
}
