#rooms {
  padding: 5% 0;
  background-color: $dark-bg-color;
  .rooms {
    .col {
      margin-bottom: 20px;
      .img-text {
        position: relative;
        height: 350px;
        @include dFlex(center);
        img {
          max-width: 100%;
          height: 100%;
          object-fit: cover;
        }
        .price-room,
        .price-sale {
          position: absolute;
        }
        .price-room {
          bottom: -15px;
          color: $white-color;
          background-color: $black-color;
          padding: 15px;
          font-family: $secondary-font;
          font-size: 18px;
        }
        .price-sale {
            display: none;
          padding: 15px;
          top: 30px;
          right: 20px;
          color: $primary-color;
          background-color: $white-color;
        }
      }
      .rooms-text {
        text-align: center;
        padding: 30px;
        @include dFlex();
        flex-direction: column;
        gap: 20px;
        font-family: $secondary-font;
        background-color: #dcceced8;
        h3 {
          font-size: 28px;
        }
        span {
          font-family: $barlow-font;
        }
        a {
          color: $black-color;
          font-size: 18px;
          i{
            position: relative;
            left: 10px;
          }
          &:hover{
            i {
                animation-name: arrowLeft;
                animation-duration: 1.2s;
                animation-iteration-count: infinite;
                @keyframes arrowLeft {
                  0% {
                    left: 10px;
                  }
                  50% {
                    left: 20px;
                  }
                  100% {
                    left: 10px;
                  }
                }
              }
          }
        }
      }
    }
  }
}
