#testimonials-about {
  background-color: $white-color;
  padding: 3% 0;
  background-color: #afa89e;
  transition: 0.4s ease-in;
  &.change-bgcolor {
    background-color: #bbc0c2;
  }
  p{
    font-family: $primary-font;
    font-size: 20px;
    margin-bottom: 20px;
  }
  .testimonials-about {
    height: 60vh;
    @include dFlex(center);
    overflow: hidden;
    .testimonials-body {
      width: 800px;
      height: 100%;
      transform-style: preserve-3d;
      input[type="radio"] {
        display: none;
      }
      .cards {
        position: relative;
        width: 100%;
        height: 100%;
        @include dFlex(center);
        .card {
          position: absolute;
          width: 80%;
          left: 0;
          right: 0;
          margin: auto;
          transition: transform 0.4s ease;
          cursor: pointer;
          border: none;
          background-color: $white-color;
          padding: 30px;
          .card-img-text {
            width: 100%;
            object-fit: cover;
            span {
              font-family: $barlow-font;
              font-size: 17px;
              color: $gray-color;
              line-height: 30px;
            }
            .card-top {
              display: flex;
              align-items: center;
              column-gap: 30px;
              margin-bottom: 30px;
              img {
                max-width: 90px;
                height: 90px;
                border-radius: 50px;
              }
              h3 {
                font-family: $secondary-font;
                font-size: 24px;
                font-weight: 600;
                margin-bottom: 10px;
              }
              p {
                font-family: $primary-font;
                letter-spacing: 3px;
                font-size: 20px;
              }
            }
          }
        }
      }
      #item-1:checked ~ .cards #song-3,
      #item-2:checked ~ .cards #song-1,
      #item-3:checked ~ .cards #song-2 {
        transform: translatex(-40%) scale(0.8);
        opacity: 0.4;
        z-index: 0;
      }

      #item-1:checked ~ .cards #song-2,
      #item-2:checked ~ .cards #song-3,
      #item-3:checked ~ .cards #song-1 {
        transform: translatex(40%) scale(0.8);
        opacity: 0.4;
        z-index: 0;
      }

      #item-1:checked ~ .cards #song-1,
      #item-2:checked ~ .cards #song-2,
      #item-3:checked ~ .cards #song-3 {
        transform: translatex(0) scale(1);
        opacity: 1;
        z-index: 1;

        img {
          box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.663);
        }
      }
    }
  }
  @media only screen and (max-width: 576px) {
    h1{
       display: none;
    }
    .testimonials-about {
      .testimonials-body {
        .cards {
          .card {
            .card-img-text {
              span {
                font-size: 15px;
                line-height: 25px;
              }
              .card-top {
                img {
                  width: 50px;
                  height: 50px;
                }
                h3 {
                  font-size: 16px;
                }
                p {
                  font-size: 16px;
                }
              }
            }
          }
        }
      }
    }
  }
}
