#about {
  padding: 5%;
  .about {
    .about-left {
      @include dFlex(center, start);
      flex-direction: column;
      gap: 30px;
      span {
        i {
          color: #e4a853;
        }
      }
      p {
        font-size: 17px;
        color: $gray-color;
        line-height: 25px;
      }
      h1 {
        font-size: 50px;
      }
      .slide-phone {
        @include dFlex(center);
        div {
          color: $white-color;
          font-size: 20px;
          line-height: 1.5em;
          letter-spacing: 0.2em;
          span {
            color: $primary-color;
            font-size: 24px;
          }
        }
        i {
          color: $primary-color;
          padding: 15px;
          font-size: 36px;
          margin-top: 10px;
        }
      }
    }
    .about-right {
      img {
        max-width: 261px;
      }
      .about-img-1 {
        transform: translateY(120px);
      }
      .about-img-2 {
        margin-top: 0;
      }
    }
  }
}
