#header {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 40px 0;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 3px;
  color: #fff;
  z-index: 9999;
  .header {
    @include dFlex();
    .logo-img {
      @include dFlex(center);
      img {
        width: 160px;
      }
    }
    nav {
      .menu-btn {
        display: none;
        background-color: transparent;
        border: none;
        i {
          color: $primary-color;
        }
      }
      ul {
        display: flex;
        gap: 30px;
        li {
          @include dFlex();
          .dropdown {
            position: relative;
            overflow:  hidden;
            .dropdown-toggle {
              padding: 15px 0;
              transition: all 0.4s;
              &::after {
                display: none;
              }
              &:hover {
                color: $primary-color;
              }
            }
            .dropdown-menu {
              width: 200px;
              display: block;
              border: none;
              border-radius: 0;
              position: absolute;
              transform: translateY(50px);
              transition: .5s;
              transition-timing-function: ease-in;
              padding: 5px 15px ;
              li {
                padding: 10px 0;
                a {
                  color: #000;
                }
                &:hover {
                  a {
                    background-color: transparent;
                    padding-left: 30px;
                  }
                }
              }
              .dropdown-item-border {
                border-bottom: 1px solid #ddd;
              }
            }
            &:hover {
              overflow: visible;
              .dropdown-menu {
                transform: translateY(0);
                transition: .5s;
                transition-timing-function: ease-out ;
              }
            }
          }
          a {
            transition: all 0.4s;
            color: #fff;
            &:hover {
              color: $primary-color;
            }
          }
        }
      }
    }
  }
  @media only screen and (max-width: 992px) {
    .header {
      nav {
        .menu-btn {
          display: block;
        }
        ul {
          display: none;
        }
      }
    }
  }
  &.about-header{
    background-color: rgba(0, 0, 0, 0.7);
  }
}
.menu-items {
  display: none;
  height: 370px;
  padding: 30px;
  margin-top: 118px;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  letter-spacing: 3px;
  position: absolute;
  z-index: 150;
  background-color: $white-color;
  width: 100%;
  left: 0;
  ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  li {
    .dropdown {
      transition: all 0.4s;
      .dropdown-toggle {
        &::after {
          display: none;
        }
      }
      .dropdown-menu {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        letter-spacing: 0;
        font-weight: 100;
        display: none;
        border: none;
        border-radius: 0;
        li {
          .dropdown-item-border {
            border-bottom: 1px solid #ddd;
          }
          a {
            color: gray;
          }
          &:hover {
            a {
              background-color: transparent;
              padding-left: 30px;
            }
          }
        }
      }
      &:hover {
        .dropdown-menu {
          display: block;
        }
      }
    }
    a {
      color: #000;
    }
  }
}

